{# empty Twig template #}
<h1>Voici la liste de tous les frais!</h1>
    <section>
        <table border="2" width="40%">
            <thead>
                <tr><th>ID</th><th>Désignation</th><th>Montant</th><th>Pièce</th><th>Date</th><th>info Complémentaire</th><th>Actions</th></tr>
            </thead>
            
        {% for f in Frais %}
            <tr>
                <td> {{f.id}}</td>
                <td> {{f.designation}}</td>
                <td> {{f.montant}}</td>
                <td> {{f.piece}}</td>
                <td> {{f.date | date('d-m-y')}}</td>
                <td> {{f.infoCom}}</td>
                <td>
                    <ul>
                        <button><a href="{{path('gm_projet_modification',{ id:f.id})}}"> Modifier </a></button>
                        <button><a href="{{path('gm_projet_suppression',{ id:f.id})}}"> Supprimer </a></button>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </table> 
    </section> 
